.nav-menu {
  background: url("../../../public/Navigation-FullscreenCover.png");
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.nav-menu-open {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 1;
  overflow: hidden;
  z-index: 10000;
}

.nav-menu:not(.nav-menu-open) {
  transition-delay: 0.2s;
}

.nav-menu__close {
  position: relative;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.nav-menu__close:hover {
  opacity: 0.6;
}

.nav-menu__line {
  background: $white;
  transition: transform 0.3s ease;
}

.nav-menu__line-1 {
  width: 30px;
  height: 2px;
  transform: translateY(14px) rotate(45deg);
  transition: all 0.3s ease;
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav-menu__line-2 {
  width: 30px;
  height: 2px;
  transform: translateY(0) rotate(-45deg);
  transition: all 0.3s ease;
  position: absolute;
  top: 24px;
  left: 10px;
}

.nav-menu__box {
  padding: 130px 180px 0 300px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-menu__links {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.nav-menu__links a {
  text-decoration: none;
  color: $white;
  font-family: $font-rufina;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  text-transform: uppercase;
}

.nav-menu__links a:before {
  content: '•';
  display: flex;
  font-size: 28px;
}

.nav-menu__links a:hover {
  color: $green;
}

.nav-menu__contact {
  display: flex;
  flex-direction: column;
  color: $white;
  max-width: 297px;
  width: 100%;
}

.nav-menu__contact .divider {
  border-bottom: 5px dotted $white;
  margin-bottom: 38px;
}

.nav-menu__date {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.nav-menu__connection a,
.nav-menu__map {
  text-decoration: none;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-menu__social {
  display: flex;
  gap: 18px;
  align-items: flex-start;
}