.recept__card {
    display: flex;
    flex-direction: column;
    max-width: 792px;
    width: 100%;
    gap: 68px;
    position: relative;
}

.recept__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recept__label {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    padding: 15px 53px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: $green;
    color: $white;
}

.recept__container {
    display: flex;
    flex-direction: column;
    gap: 46px;
    padding: 0 75px 0 72px;
}

.recept__account {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
}

.recept__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    list-style: none;
}

.recept__item {
    display: flex;
    gap: 14px;
    color: $green;
}

.recept__item:after {
    content: '·';
    display: block;
    flex-shrink: 0;
}

.recept__item:last-of-type:after {
    display: none;
}

.recept__text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.recept__title {
    font-family: $font-rufina;
    line-height: 64px;
}

.recept__subtitle {
    font-family: $font-lato;
    line-height: 140%;
    letter-spacing: 0.44px;
}

.recept__btn {
    border: none;
    outline: none;
    background: transparent;
    width: max-content;
    cursor: pointer;
}

.recept__link {
    text-decoration: none;
    font-family: $font-lato;
    line-height: 140%;
    letter-spacing: 0.48px;
    color: $black;
    display: flex;
    gap: 10px;
}

.recept__link:after {
    content: '\2192';
    display: flex;
    align-items: center;
}

@media (max-width: $breakpoint-tablet) {

    .recept-page {
        gap: 40px;
        padding-top: 50px;
        padding-bottom: 65px;
    }

    .recept__container {
        gap: 30px;
        padding: 0;
    }

    .recept__list {
        flex-wrap: wrap;
    }

    .recept__title {
        line-height: normal;
    }

    .recept__label {
        padding: 10px 23px;
    }
}