.reviews {
    width: 100%;
    padding: 118px 0 145px;
}

.reviews__slide {
    overflow: hidden;
    padding: 0 108px;
    position: relative;
}

.reviews__current {
    display: flex;
    flex-direction: column;
    gap: 86px;
}

.reviews__item {
    position: absolute;
    inset: 0;
    display: none;
}

.reviews__title {
    font-family: var(--font-rufina);
    line-height: 64px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    position: relative;
    height: 192px;
    z-index: 2;
}

.reviews__icon {
    position: absolute;
    top: 0;
    right: 90px;
}

.reviews__bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.reviews__account {
    display: flex;
    align-items: center;
    gap: 60px;
}

.reviews__img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--white-green);
}

.reviews__account div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}

.reviews__name {
    font-family: var(--font-rufina);
}

.reviews__major {
    font-family: var(--font-lato);
}

.reviews__control {
    position: relative;
    display: flex;
    flex-direction: row;
    font-family: var(--font-rufina);
    gap: 40px;
    align-items: center;
}

.reviews__btn {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 101;
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 1;
    display: flex;
    align-items: center;
}

.reviews__prev {
    transform: rotate(180deg);
    right: 60px;
}

.reviews__next {
    left: 60px;
}