.reservation {
    background: var(--white-green);
    padding: 237px 0 254px;
}

.reservation .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 133px;
}

.reservation__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.reservation__title {
    font-family: var(--font-rufina);
}

.reservation__subtitle {
    font-family: var(--font-lato);
    letter-spacing: 0.48px;
    color: var(--dark-green);
}

.reservation__form {
    display: flex;
    flex-direction: column;
    gap: 133px;
    width: 100%;
}

.reservation__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}

.reservation__date {
    border: 1px solid var(--black);
    display: flex;
    gap: 60px;
    padding: 30px 40px;
    max-width: 516px;
    width: 100%;
    background: transparent;
    font-family: var(--font-lato);
    font-size: 24px;
    outline: none;
}

.reservation__select {
    display: flex;
    max-width: 516px;
    width: 100%;
    padding: 30px 40px;
    font-family: var(--font-lato);
    font-size: 24px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
}

.reservation__select option {
    max-width: 516px;
    width: 100%;
    font-family: var(--font-lato) !important;
    font-size: 24px !important;
    background:var(--white-green);
    border: none;
    color: var(--dark-grey);
}

.reservation__btn {
    cursor: pointer;
    max-width: 344px;
    width: 100%;
    padding: 20px 46px;
    border: none;
    background: var(--dark-green);
    font-family: var(--font-rufina);
    color: var(--white);
    transition: all 1s ease;
    margin: 0 auto;
}

