.reservation {
    background: $white-green;
    padding: 237px 0 254px;
}

.reservation .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 133px;
}

.reservation__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.reservation__title {
    font-family: $font-rufina;
    text-align: center;
}

.reservation__subtitle {
    font-family: $font-lato;
    letter-spacing: 0.48px;
    color: $dark-green;
}

.reservation__form {
    display: flex;
    flex-direction: column;
    gap: 133px;
    width: 100%;
}

.reservation__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

.reservation__date {
    border: 1px solid $black;
    display: flex;
    gap: 60px;
    padding: 30px 40px;
    max-width: 516px;
    width: 100%;
    background: transparent;
    font-family: $font-lato;
    font-size: 24px;
    outline: none;
}

.reservation__select {
    display: flex;
    max-width: 516px;
    width: 100%;
    padding: 30px 40px;
    font-family: $font-lato;
    font-size: 24px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
}

.reservation__select option {
    max-width: 516px;
    width: 100%;
    font-family: $font-lato !important;
    font-size: 24px !important;
    background: $white-green;
    border: none;
    color: $dark-grey;
}

.reservation__btn {
    cursor: pointer;
    max-width: 344px;
    width: 100%;
    padding: 20px 46px;
    border: none;
    background: $dark-green;
    font-family: $font-rufina;
    color: $white;
    transition: all 1s ease;
    margin: 0 auto;
}

@media (max-width: $breakpoint-laptop) {

    .reservation__btn {
        max-width: 516px;
    }
}

@media (max-width: $breakpoint-mobile) {
    .reservation {
        padding: 67px 0 54px;
    }

    .reservation .content {
        gap: 40px;
    }

    .reservation__form {
        gap: 40px;
    }

    .reservation__btn {
        max-width: 100%;
    }

    .reservation__wrapper {
        gap: 20px;
    }

    .reservation__date {
        padding: 15px 40px;
        font-size: 20px;
    }

    .reservation__select {
        padding: 17px 40px;
        font-size: 20px;
    }
}