@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@300;400;700;900&family=Rufina:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: $font-rufina;
}

.content {
    padding-left: 138px;
    padding-right: 138px;
    max-width: 1920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.divider {
    width: 100%;
    border-bottom: 5px black dotted;
}

.large-title {
    font-weight: 700;
    font-size: 148px;
}

.heading-one {
    font-weight: 700;
    font-size: 108px;
}

.heading-two {
    font-weight: 700;
    font-size: 88px;
}

.heading-three {
    font-weight: 700;
    font-size: 68px;
}

.heading-four {
    font-weight: 700;
    font-size: 48px;
}

.heading-five {
    font-weight: 700;
    font-size: 32px;
}

.heading-six {
    font-weight: 700;
    font-size: 26px;
}

.nav-item {
    font-family: $font-lato;
    font-weight: 700;
    font-size: 66px;
}

.nav-subitem {
    font-family: $font-lato;
    font-weight: 400;
    font-size: 24px;
}

.body-text {
    font-family: $font-lato;
    font-weight: 400;
    font-size: 24px;
}

.this-body-B {
    font-family: $font-lato;
    font-weight: 700;
    font-size: 24px;
}

.body-cap {
    font-family: $font-lato;
    font-weight: 400;
    font-size: 20px;
}

.excerpt {
    font-family: $font-lato;
    font-weight: 400;
    font-size: 22px;
}

.label {
    font-family: $font-lato;
    font-weight: 400;
    font-size: 18px;
}

.comments {
    font-family: $font-lato;
    font-weight: 400;
    font-size: 14px;
}

.widgets-title {
    font-family: $font-lato;
    font-weight: 400;
    font-size: 20px;
}

.widgets-text {
    font-family: $font-lato;
    font-weight: 400;
    font-size: 18px;
}

.btn:hover {
    opacity: 0.7;
    transition: all 0.2s ease;
}

.btn:focus {
    background: $white-green;
    color: $green;
    opacity: 1;
    box-shadow: inset 0 0 20px 1px $green;
    transition: all 0.4s ease;
}

.btn:active {
    background: $dark-green;
    color: $white;
    box-shadow: inset 0 0 20px 1px $green;
    opacity: 1;
    transition: all 0.4s ease;
}


@media (max-width: $breakpoint-laptop) {

    .content {
        padding-left: 80px;
        padding-right: 80px;
        max-width: 1400px;
    }

    .large-title {
        font-weight: 600;
        font-size: 100px;
    }

}

@media (max-width: $breakpoint-tablet) {

    .content {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 1000px;
    }

    .large-title {
        font-weight: 500;
        font-size: 60px;
    }

    .heading-one {
        font-weight: 600;
        font-size: 68px;
    }

    .heading-three {
        font-weight: 600;
        font-size: 38px;
    }

    .heading-five {
        font-weight: 600;
        font-size: 20px;
    }

    .body-text {
        font-weight: 400;
        font-size: 18px;
    }

}


@media (max-width: $breakpoint-mobile) {

    .content {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 600px;
    }

    .large-title {
        font-size: 36px;
    }

    .heading-one {
        font-weight: 700;
        font-size: 48px;
    }

    .heading-four {
        font-size: 30px;
    }

    .heading-six {
        font-weight: 500;
        font-size: 16px;
    }

    .body-text {
        font-weight: 300;
        font-size: 19px;
    }
}