.calories-card {
    position: relative;
    max-width: 508px;
    width: 100%;
    overflow: hidden;
}

.calories-card img {
    object-fit: cover;
}

.calories-head {
    width: calc(100% - 80px);
    position: absolute;
    top: 48px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calories-head a {
    text-decoration: none;
    font-size: 48px;
    color: var(--black)
}

.calories__card {
    display: flex;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
}

