.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 46px 138px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 45px;
}

.header__nav img{
   cursor: pointer;
    width: 307px;
    height: 115px;
}

.header__menu {
    width: 44px;
    height: 31px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 2px;
    background: var(--white);
    transition: transform 0.3s ease;
}

.open .line-1 {
    transform: translateY(14px) rotate(45deg);
    transition: all 0.3s ease;
}

.open .line-2 {
    opacity: 0;
}

.open .line-3 {
    transform: translateY(-14px) rotate(-45deg);
    transition: all 0.3s ease;
}

.header__reserv {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__phone a{
    font-family: var(--font-inter);
    color: var(--white);
    font-size: 26px;
    font-weight: 400;
    text-decoration: none;
}

.header__btn{
    display: inline-flex;
    padding: 20px 46px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--white);
    background: transparent;
}

.header__btn a{
    font-family: var(--font-rufina);
    color: var(--white);
    text-decoration: none;
    line-height: 48px;
}