.our-menu {
    display: flex;
    position: relative;
    color: $black;
    padding: 176px 0 218px;
}

.our-menu .content {
    display: flex;
    flex-direction: column;
    gap: 158px;
}

.our-menu__twig {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.our-menu__title {
    font-family: $font-rufina;
    line-height: 120px;
}

.our-menu__subtitle {
    line-height: 140%;
    letter-spacing: 0.48px;
}

.our-menu__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 108px 60px;
    z-index: 3;
}