.footer {
    background: $dark-green;
    width: 100%;
    padding: 132px 0 74px;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__top {
    display: grid;
    grid-template-columns: 13% 13% 50%;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
    padding-bottom: 137px;
}

.footer__logo {
    font-family: $font-rufina;
    font-size: 68px;
    font-weight: 700;
    max-width: 188px;
    width: 100%;
    margin: 0 auto;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 210px;
    width: 100%;
    justify-content: start;
    margin: 0 auto;
}

.footer__title {
    margin-bottom: 55px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 0 28px;
}

.footer__links a {
    text-decoration: none;
    color: inherit;
}

.footer__map {
    text-decoration: none;
    color: inherit;
}

.footer__subscription {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.footer__form {
    display: flex;
    width: 100%;
    gap: 20px;
}

.footer__input {
    width: 100%;
    padding: 31px 40px;
    border: 2px solid $white;
    background: transparent;
    color: $white;
    outline: none;
}

.footer__input::placeholder {
    font-family: $font-lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.48px;
    color: $white;
}

.footer__btn {
    padding: 20px 46px;
    background: $green;
    color: $white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease;
}

.footer__subtitle {
    margin: 15px 0 0;
    font-size: 14px;
    letter-spacing: 0.28px;
}

.footer .divider {
    border-bottom: 5px $white dotted;
}

.footer__bottom {
    padding-top: 58px;
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
    align-items: center;
}

.footer__bottom div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__link {
    display: block;
    transition: opacity 0.2s ease;
}

.footer__link img{
    display: block;
    width: 28px;
    height: 26px;
    object-fit: fill;
}

.footer__link:hover {
    opacity: 0.5;
}


@media (max-width: $breakpoint-desktop) {

    .footer__top {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        padding-bottom: 60px;
        gap: 40px;
    }

    .footer__subscription {
        grid-column: span 2;
    }

    .footer__logo {
        font-size: 38px;
    }

}


@media (max-width: $breakpoint-mobile) {
    .footer__title {
        margin-bottom: 25px;
    }

    .footer__form {
        gap: 10px;
        flex-direction: column;
    }

    .footer__top {
        padding-bottom: 30px;
        gap: 20px;
    }

    .footer__bottom {
        padding-top: 28px;
        align-items: center;
        flex-direction: column-reverse;
        gap: 20px;
    }
}